{% extends "aluno/base.html" %}

    {% block conteudo %}
        <div class="row">
            <div class="col-3">
                {% if form %}
                    <form method="post" action="{% url 'aluno:index' %}">
                        {% csrf_token %}
                        {% include 'aluno/form.html' with form=form %}
                        <input type="submit" value="Vai" />
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Matricula</td>
                        <td>Data de nascimento</td>
                        <td>Endereço</td>
                    </tr>
                </thead>
                <tbody>
                {% if alunos %}

                    {% for aluno in alunos %}
                        <tr>
                            <td>{{ aluno.nome }}</td>
                            <td>{{ aluno.matricula }}</td>
                            <td>{{ aluno.data_nascimento }}</td>
                            <td>{{ aluno.fk_endereco.nm_rua }}</td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td></td>
                        <td>Nenhuma informação a apresentar</td>
                        <td></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endblock conteudo %}
